#heading {
    width: 100%;
    height: 210px;
    background: #FFFFFF url('../assets/header-back.png') no-repeat;
    color: #000000;
    padding: 20px 40px;
}

#heading #user-avatar {
    border-radius: 50%;
    float: left;
    margin: 0 18px 0 0;
}

#heading #user {
    float: left;
    margin: 30px 0 0 0;
}

#heading #user h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 3em;
}

#heading #user-avatar, #heading #user .progress {
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3);
}

.progress{
    height: 35px;
    background: #e8e6e5;
    margin-bottom: 20px;
    box-shadow: none;
    border-radius: 0;
    overflow: hidden;
    width: 700px;
}

.progress .progress-bar{
    position: relative;
    box-shadow: none;
    animation: animate-positive 2s;
}

.progress .progress-value{
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    position: absolute;
    right: 28px;
    top: 8px;
    z-index: 1;
}

.progress .progress-icon{
    background: #e8e6e5;
    border-bottom: 35px solid;
    border-right: 30px solid transparent;
    position: absolute;
    right: 0;
    top: 0;
}

@keyframes animate-positive {
    0% { width: 0%; }
}

#user-stats {
    color: #efefef;
    text-align: right;
    font-size: 60px;
    font-weight: bold;
    margin: 124px 0 0 0;
}

 
  