<div id="journey-wrapper">

  <h1>Choose your Journey...</h1>

  <ul id="event-card-list" class="row">

		<li class="col" *ngFor="let journey of journeys">
			<div class="event-card">
        <img [routerLink]="['/journey', journey.JourneyId]" src="assets/journey/list-icons/3d-printing.png">
        <div class="style-layer">
          <div>
            <h2 [routerLink]="['/journey', journey.JourneyId]" class="name">{{journey.JourneyTitle}}</h2>
            <a data-toggle="modal" data-target="#vidPreview"><h4 class="date"><i class="fa fa-video-camera"></i> Video Preview</h4></a>
          </div>
          <div class="event-desc">
            <p class="desc">{{journey.JourneyDescription}}</p>
            <div class="location">
              <i class="fa fa-clock-o"></i>
              {{journey.JourneyCompletionTime}}
            </div>
          </div>
          <div class="date-ribbon">
            <h2>{{journey.XpReward}}</h2>
            <h1>XP</h1>
          </div>
        </div>
      </div>
      <div class="modal fade" id="vidPreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3>{{journey.JourneyTitle}}</h3>
              </div>
              <div class="modal-body">
                  <div class="videoWrapper">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/7AfToK-yQyA?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-block" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </li>

  </ul>
  
</div>
