<div id="edu-view">
  
  <h2>JourneyMaker <span>From Wavemaker</span></h2>
  <h2>Assign a User to a Journey</h2>

  <div id="successAlert" class="alert alert-success" *ngIf="success" role="alert">
    Student Registered!
  </div>

  <label class="select-box">
    <select (change)="setUser($event.target)">
      <option>Select a User...</option>
      <option *ngFor="let user of users" [value]="user.UserId">{{user.UserFullName}}</option>
    </select>
  </label>

  <label class="select-box">
    <select (change)="setJourney($event.target)">
      <option>Select a Journey...</option>
      <option *ngFor="let journey of journeys" [value]="journey.JourneyId">{{journey.JourneyTitle}}</option>
    </select>
  </label>
  
  <button id="assignBtn" (click)="assignUser()">Register User to Journey</button>

</div>
