<div id="works-container">
  <h1>How it all works</h1>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/vZN8k79uqic?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  <div id="works-instructions">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida id odio in egestas. Nulla pretium tincidunt elit, sed suscipit lorem lobortis pellentesque. Donec viverra laoreet hendrerit. Phasellus tincidunt id elit non facilisis. Donec arcu arcu, porttitor a pulvinar quis, accumsan a ligula. Quisque et nulla urna. Ut semper lobortis consequat.</p>
    <p>Morbi elementum tortor elementum sollicitudin pulvinar. Ut mollis, nibh a mattis maximus, odio augue rutrum arcu, ut imperdiet elit justo ut lectus. Donec nec gravida metus. Curabitur nec dignissim neque, sed pulvinar tortor. Nam id sapien feugiat, venenatis ante ac, malesuada urna. Aenean euismod sem sit amet turpis faucibus, eget molestie enim rhoncus. Nullam ornare orci ut venenatis imperdiet. Vivamus at euismod risus. In hac habitasse platea dictumst. Vestibulum venenatis diam sed enim lobortis, nec dignissim ipsum euismod.</p>
    <div id="nav-track">
      <button id="bckBtn" class="btn-1 icon-backward" [routerLink]="['/dashboard']" routerLinkActive="active"><span>Hang on a min</span></button>
      <button id="fwdBtn" class="btn-1 icon-forward" [routerLink]="['/journey']" routerLinkActive="active"><span>Let's do this</span></button>
    </div>
  </div>
</div>
