<div id="content-container" class="row">

  <!--Topics-->
  <div id="content-left" class="col-md-10">
      <h1>{{quiz.QuizTitle}}</h1>
      <p>{{quiz.QuizInstructions}}</p>
      <p *ngIf="test">This one is a test, so think carefully about your answers because you'll only get one shot at this one.</p>
      <p>You need {{quiz.QuizPassMark}}% to pass this one!</p>
      <button [routerLink]="['/quiz/question/', id]">Start Quiz</button>
  </div>
  
  <!--User & Navigation-->
  <div id="content-right" class="col-md-2">
      <app-user-draw></app-user-draw>
  </div>
</div>