<div id="edu-view">
  
  <h2>JourneyMaker <span>From Wavemaker</span></h2>
  <h2>Add a Journey</h2>

  <div id="successAlert" class="alert alert-success" *ngIf="journeySuccess" role="alert">
    Journey Added!
  </div>

  <div class="webflow-style-input"><input id="journey-title" [(ngModel)]="JourneyTitle" type="text" placeholder="First of all, What do you want to call your Journey?" /></div>
  <div class="webflow-style-input"><input id="journey-description" [(ngModel)]="JourneyDescription" type="text" placeholder="Tell us about your Journey (in 250 characters max)" /></div>
  <div class="webflow-style-input"><input id="journey-video" [(ngModel)]="JourneyIntroVideo" type="text" placeholder="Sounds great! Do you have a YouTube Video link so we can see more?" /></div>
  <div class="webflow-style-input"><input id="journey-rewards" [(ngModel)]="JourneyRewards" type="text" placeholder="Wow! Looks great! But what rewards can we earn from this Journey" /></div>
  <div class="webflow-style-input"><input id="journey-gains" [(ngModel)]="JourneyGains" type="text" placeholder="Hmmm, I still need some convincing, what else can I gain?" /></div>
  <div id="journey-time-out" class="webflow-style-input"><input id="journey-time" [(ngModel)]="JourneyCompletionTime" type="text" placeholder="That sounds worth the effort, but hang on, how long will all this take?" /></div>
  <div id="journey-xp-out" class="webflow-style-input"><input id="journey-xp" [(ngModel)]="XpReward" type="text" placeholder="I'm sold! One last thing though, how much XP can I get for this Journey" /></div>

  <button id="addBtn" (click)="addJourney()">Add Journey</button>

</div>
