<div id="edu-view">

  <h2>JourneyMaker <span>From Wavemaker</span></h2>
  
  <label class="accordion">
    <input type='checkbox' name='checkbox-accordion'>
    <div class="accordion__header">Journey</div>
    <div class="accordion__content">
      <h6>Manage Journeys</h6>
      <p>Add, edit and assign Journeys to trailblazers.</p>
      <button [routerLink]="['/educator/journey/add']">Add Journey</button>
      <button>Edit Journey</button>
      <button>Trailblazers</button>
    </div>
  </label>
  
  <label class="accordion">
    <input type='checkbox' name='checkbox-accordion'>
    <div class="accordion__header">Challenges & Quizzes</div>
    <div class="accordion__content">
      <h6>Manage Assesments</h6>
      <p>Add and edit challenges and quizzes.</p>
      <button>Add Quiz</button>
      <button>Edit Quiz</button>
      <button>Edit Challenges</button>
    </div>
  </label>
  
  <label class="accordion">
    <input type='checkbox' name='checkbox-accordion'>
    <div class="accordion__header">Badges & Rewards</div>
    <div class="accordion__content">
      <h6>Manage Rewards</h6>
      <p>Add badges and rewards and assign them to Journeys, Challenges, Quizzes and more.</p>
      <button>Add Badge</button>
      <button>Assign Badge</button>
      <button>Create Reward</button>
    </div>
  </label>
  
</div>
