<div id="user" class="col-12">
  <div class="text-center" id="user-avatar">
      <img class="mx-auto d-block" [src]="userAvatar" />
      <div class="middle">
          <i class="fas fa-camera-alt"></i>
          <p>Edit Avatar</p>
      </div>
  </div>
  <p id="username" class="text-center"><span>Howdy </span>{{userProfile?.Username}}</p>
  <div id="xp-bar" class="text-left">
      <div id="xp" [style.width.%]="xpCalc"><p><i class="fas fa-stars"></i> XP</p></div>
  </div>
  <p id="stats" class="text-right">Level {{userProfile.UserLevel}}</p>
</div>
<nav id="navigation">
  <button type="button" class="btn btn-lg btn-block">Profile</button>
  <button type="button" class="btn btn-lg btn-block">Resources</button>
  <button type="button" class="btn btn-lg btn-block">Feedback</button>
  <button type="button" class="btn btn-lg btn-block">Milestones</button>
  <button type="button" class="btn btn-lg btn-block">Rewards</button>
</nav>