<div id="edu-view">
  
  <h2>JourneyMaker <span>From Wavemaker</span></h2>
  <h2>Add a Quiz</h2>

  <div id="successAlert" class="alert alert-success" *ngIf="quizSuccess" role="alert">
    Quiz Added!
  </div>

  <div *ngIf="showQuiz" id="quiz">
    <h2>Step One - Quiz Basics</h2>

    <label class="select-box">
      <select (change)="setLessonId($event.target)">
        <option>Select a Lesson for this Quiz...</option>
        <option *ngFor="let lesson of Lessons" [value]="lesson.LessonId">{{lesson.LessonTitle}}</option>
      </select>
    </label>

    <div class="input-style"><input id="quiz-title" [(ngModel)]="QuizTitle" type="text" placeholder="Title of your quiz (e.g. 3D Printing Basics)" /></div>
    <div class="input-style"><input id="quiz-instructions" [(ngModel)]="QuizInstructions" type="text" placeholder="Instructions for users (Tip: Give your users a reason to take this quiz)" /></div>
    <div class="input-style small"><input id="quiz-passmark" [(ngModel)]="QuizPassMark" type="text" placeholder="What's the pass mark for this quiz? (e.g. 100, 50, 25 etc.)" /></div>
    
    <label class="select-box small">
      <select (change)="setQuizTest($event.target)">
        <option>Are users completing this quiz in exam conditions?</option>
        <option [value]="quizTestYes">Yes</option>
        <option [value]="quizTestNo">No</option>
      </select>
    </label>

    <button id="addBtn" (click)="addQuiz()">Done? Lets add some Questions <i class="fa fa-arrow-right"></i></button>
  </div>

  <div *ngIf="showQuestions" id="questions">
    <h2>Step 2 - Add Questions</h2>

    <div id="Question-Tip" class="alert alert-info" role="alert">
      Tip: Make sure all your questions add up to 100 (So far your quesions add up to {{ScoreSoFar}})
    </div>

    <div class="input-style"><input id="question-text" [(ngModel)]="QuestionText" type="text" placeholder="Question Text (e.g. What is 3D Printing?)" /></div>
    <div class="input-style small"><input id="question-score" [(ngModel)]="QuestionValue" type="text" placeholder="What's this question worth? (e.g. 5, 10 etc.)" /></div>

    <button id="addBtn" (click)="addQuestion()">Add Another Question</button>
    <button id="addBtn" (click)="addLastQuestion()">That all of them? Add some Answers <i class="fa fa-arrow-right"></i></button>
  </div>

  <div *ngIf="showAnswers" id="answers">
    <h2>Step 3 - Add Question Answers</h2>

    <div id="Answer-Tip" class="alert alert-info" role="alert">
      The number of answers for this question so far is: {{NoOfAnswers}}
    </div>

    <label class="select-box">
      <select (change)="setQuestionId($event.target)">
        <option>Select a Question to Answer...</option>
        <option *ngFor="let question of QuestionsReturned" [value]="question.QuestionId">{{question.QuestionText}}</option>
      </select>
    </label>

    <div class="input-style"><input id="answer-text" [(ngModel)]="Answer" type="text" placeholder="What is the answer text? (Tip: Make fake answers as convincing as possible for a real challenge)" /></div>
    <div class="input-style"><input id="answer-advice" [(ngModel)]="AnswerAdvice" type="text" placeholder="Why is this answer wrong or right? (Tip: Even if the answer is wrong, provide some encouragement to keep going)" /></div>

    <label class="select-box small">
      <select (change)="setAnswerCorrect($event.target)">
        <option>Is this the correct answer?</option>
        <option [value]="quizTestYes">Yes</option>
        <option [value]="quizTestNo">No</option>
      </select>
    </label>

    <button id="addBtn" (click)="addAnswers()">Add Answers to Question</button>
    <button id="addBtn" (click)="addAnswersToDb()">Finished? Great! Complete the quiz!</button>
  </div>

</div>
