#edu-view {
    width: 75%;
    padding: 3em;
    margin: 0 auto;
    background: #FFFFFF;
}

h2 {
    color: #2B4B6F;
}

h2 span {
    font-size: 0.5em;
}

#addBtn {
    width: 100%;
    background: #2B4B6F;
    margin-top: 2.5em;
}

#successAlert {
    margin: 2em 0;
}

.half {
    width: 50%;
}

.small {
    width: 37.5%;
}

i {
    margin-left: 8px;
}