<div id="dir-contain">
  <h2>Journey</h2>
  <button [routerLink]="['/journey/']" routerLinkActive="active">Journey</button>
  <button [routerLink]="['/journey/howitworks']" routerLinkActive="active">How it works</button>
  <h2>Educator View</h2>
  <button [routerLink]="['/educator/']">Educator Dash</button>
  <button [routerLink]="['/educator/journey/add']">Add Journey</button>
  <button [routerLink]="['/educator/journey/assign']">Assign Journey</button>
  <button [routerLink]="['/educator/quiz/add']">Add Quiz</button>
</div>
